body{
    background-color: black;
}
h1{
    text-transform: uppercase;
        color: #F1C40F;
}
div{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;

}

img{
    border: 5px solid #F1C40F;
    width: 100%;
    
}
p{
    color: white;
}
